<div class="container">
    <h2>Create new account</h2><br/>
    <Br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-focus="Focus()" ng-model="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-focus="Focus()" ng-model="lastName" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" ng-focus="Focus()" ng-model="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Usename:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-focus="Focus()" ng-model="userName" placeholder="Username">
                        <p>Username is a unique name of your choice (use letters and numbers)</p>
                        <span style="{{Style(isSaved)}}">{{feetbackError}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-focus="Focus()" ng-model="password" placeholder="Password">
                        <span style="{{missingPS}}; color: red">Missing Password</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Retype Password:</label>
                    <div class="col-sm-10">
                        <input type="password" ng-focus="Focus()" ng-model="password2" placeholder="Retype Password">
                        <span style="{{wrongPs}}; color: red">Wrong! Retype Password</span>
                    </div>
                </div>
                <p style="{{Style(isSaved)}}">{{feetback}}</p>
            </form>
            <Br/>
            <button class="btn btn-success" ng-click="submit()">
                <span class="glyphicon glyphicon-save"></span> Create New User
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>
    <hr>
</div>