<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container" style="text-align: justify">
        <h1>Love to Learn? <h2>Learn it Here!</h2></h1><br />
        <p>En Flashcard Applikation er en effektiv og gennemtestet måde hvor på man kan lære noget nyt og huske det gamle man allerede har lært.</p>
        <h2>Hvad er og hvorfor flashcards?</h2>
        <p>Et flashcard er som et Trivial Pursuit kort. Det bestå af et kort hvor der er et spørgsmål på den ene
            side af kortet, og på den anden side af kortet finder man svaret på spørgsmålet.
            Flashcards er en effektiv måde at lære trivielle vide på, som f.eks. De Periodiske System, ord og grammatik
            eller vejskiltes betydning m.m. Ved at bruge en flashcard applikation til din mobiltelefon bliver læringen
            endnu mere effektiv fordi applikationen på telefonen kan holde styr på hvilken kort du skal øve dig mest på
            og hvilken du ikke behøver at øve dig så meget på. Derved kan du lære mere på korter tid og få overskud til
            alt det du helere vil.</p>
        <p>Singup hvis du vil følge udviklingen på denne side</p>
        <p><a class="btn btn-primary btn-lg" href="#/signup" role="button">Learn more &raquo;</a></p>
    </div>
    <hr>
</div>